@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav {
  @apply flex lg:justify-between mx-auto lg:max-w-fit relative items-center justify-around pb-2;
}
.navShow {
  @apply h-96 flex  mx-auto  relative  justify-around pb-2;
}
.link {
  @apply lg:flex   hidden lg:mx-auto xl:ml-16 2xl:ml-20 items-center font-roboto text-black justify-between xl:text-base lg:text-sm text-xs leading-3  text-center;
}
.show {
  @apply lg:hidden flex flex-col gap-3  font-roboto text-black text-left text-base transition-all ease-in duration-500   absolute;
}
.show  li a:hover,
.wrapperShow button:hover {
  padding-left: 5px;
  transition: all 0.5 ease-in !important;
  
}

.wrapperShow {
  @apply flex flex-col gap-3;
}

.wrapper {
  @apply lg:flex hidden justify-between lg:ml-8 xl:ml-16 2xl:ml-20 font-roboto  text-center 2xl:text-base xl:text-sm text-xs;
}
.btnNavbar {
  @apply transition duration-500 ease-in-out min-w-fit hover:bg-white border border-solid hover:border-purple hover:shadow-purple hover:shadow-md hover:text-purple rounded-full lg:mr-6 xl:mr-8 px-9 2xl:px-10  2xl:py-4 py-3.5 text-white  leading-3 text-center bg-purple;
        
}
.btn {
  @apply md:w-36  w-24   bg-purple h-3/5  md:h-3/4 lg:h-full  md:p-2 p-1 lg:text-base md:text-xs text-[8px] hover:bg-white  hover:text-purple text-white rounded-full  hover:shadow-purple hover:shadow-md transition duration-500 ease-in-out  lg:w-40 font-roboto
}
.btnShow {
  @apply text-purple ;
}
.login {
  @apply text-center min-w-fit mt-2.5 hover:scale-110;
}

.show a {
  padding: 0;
}
.w-fit:nth-child(1) .footerItems{
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2,1fr);
 column-gap: 30px;
  
}
.w-fit:nth-child(4) .footerItems{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 column-gap: 20px;
 width: max-content;
  
}

.page{
  @apply bg-purple w-screen text-center lg:text-3xl md:text-xl text-sm text-white h-80 p-8;
}
.qubitTeks{
  @apply font-normal  md:text-xs text-[8px] w-60 xl:w-72 mt-4;

}